.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: 2px solid  rgb(131, 219, 222);
    margin: 5px auto 5px auto;
}

.h2{
    color: rgb(111, 191, 194) ;
}